:root {
  --primary-color: var(--color-primary-green);
  --text-color: #333;
  --border-color: #ddd;
  --background-light: #f9f9f9;
}

.profile-container {
  margin: 0 auto;
  background-color: none;
  width: 60%;
  display: flex;
}

.profile-form {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 800px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom, #e0f2f1, #ffffff);
}
.form-group label {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  color: var(--text-color);
}

.profile-form input,
.profile-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 15px;
}

.skill-tag {
  background-color: #e8f5e9;
  color: var(--primary-color);
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 13px;
  cursor: default;
}

.save-changes-btn {
  background-color: var(--primary-color);
  color: white;
  margin-top: 20px;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.save-changes-btn:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
