/* src/styles/ForgotPassword.css */

/* Main container for the form */

.forgot-password-container {
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/public/bg1.jpg");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.forgot-password-container form {
  width: 400px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  text-align: center;
}
/* Heading style */
.forgot-password-container h2 {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid rgb(19, 105, 19);
}

/* Paragraph style */
.forgot-password-container p {
  margin-bottom: 25px;
  color: #666;
  font-size: 15px;
}

/* Form layout */
.forgot-password-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the left */
}

/* Label style */
.forgot-password-container label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #444;
}

/* Input field style */
.forgot-password-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Important for padding and width */
}

/* Button style */
.forgot-password-container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: rgb(26, 156, 76);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.forgot-password-container .success-message{
 width: 300px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  background-color: #12a142;
  text-align: center;
  margin-right: 7rem;
  color: #ccc;
  font-size: 24px;
}
.forgot-password-container .success-message p {
  color: #ffffff;
}
/* Button hover effect */
.forgot-password-container button:hover {
  border: 1px solid rgb(26, 156, 76);
  background: none;
  color: rgb(26, 156, 76);
}

/* Style for disabled button */
.forgot-password-container button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* Error message style */
.error-message {
  color: #d93025; /* A standard error red color */
  margin-top: 15px;
  font-weight: 500;
}
