.wrapper {
 margin: 0 auto;
 margin-top: 50px;
  max-width: 400px;
  max-height :550px ;
  border-radius: 8px;
  padding: 35px;
  text-align: center;
  border: 1px solid var(--color-primary-green) ;
}
form {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--color-text-light);
}
.input-field {
  position: relative;
  border-bottom: 1px solid var(--color-text-light);
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-40%);
  color: var(--color-text-light);
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--color-text-light);
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.wrapper a {
  color: #ffffff;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}
.wrapper button {
  margin-top: 10px;
  background: var(--color-primary-green) ;
  color: var(--color-text-light);
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
}
button:hover {
  color: var(--color-primary-green);
  border: 2px solid var(--color-primary-green);
  background-color: transparent;
}
.register {
  text-align: center;
  color: #fff;
}
.inputField{
  display: flex;
  color: rgb(211, 206, 206);
}
.inputField [type="checkbox"]{
  width: 20px;
}
.inputField label{
  padding:5px;
  font-size: bold;
}